Ok, let import dataset....

In [34]:
import pandas as pd
#I download this dataset on my git, because i would like to work with it in google colab...
df=pd.read_csv('https://raw.githubusercontent.com/KachaikinMarko/MyEducation/main/StudentsPerformance.csv')
len(df)
#Data frame has 1000 rows, so just for example we show only first 10 elements...
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

Task 5 a)

In [44]:
#We are interested only in lunch distribution,so...
lunch_data=df['lunch']

num_of_sd_lunch=0
for i in list(lunch_data):
  if i=='standard':
    num_of_sd_lunch+=1 #Here, we count number of standart lunches in data

print('Number of persones with standart lunch=',num_of_sd_lunch)

Number of persones with standart lunch= 645

In [45]:
relative_frequency = num_of_sd_lunch/len(lunch_data)
print('Rel. Frequency of persones with standart lunch=',relative_frequency)

Rel. Frequency of persones with standart lunch= 0.645

Task 5 b)

In [28]:
# Let chose genders and lunches
lunch_data=list(lunch_data)
gender_data=list(df['gender'])
#We create dataset with pairs (lunch type,gender)
gender_and_lunch_data=[[lunch_data[i],gender_data[i]] for i in range(len(lunch_data))]
#For example let's show some elements
gender_and_lunch_data[::100]

[['standard', 'female'],
 ['standard', 'male'],
 ['standard', 'female'],
 ['free/reduced', 'male'],
 ['standard', 'female'],
 ['standard', 'female'],
 ['standard', 'female'],
 ['standard', 'female'],
 ['standard', 'male'],
 ['standard', 'male']]

Here, we count relative frequency of males with standart lunch:

In [39]:
# From created dataset lets choice only man
males_and_lunch_data = [i for i in gender_and_lunch_data if i[1]=='male']
print('Number of males=',len(males_and_lunch_data))

Number of males= 482

In [42]:
number_males_sdlunch=0
for i in males_and_lunch_data:
  if i[0]=='standard':
    number_males_sdlunch+=1
print('Number of males with standart lunch=',number_males_sdlunch)

Number of males with standart lunch= 316

In [46]:
relative_frequency_males = number_males_sdlunch/len(males_and_lunch_data)
print('Rel.Freq of male with stand lunch=',relative_frequency_males)

Rel.Freq of male with stand lunch= 0.6556016597510373

Here, we count relative frequency of females with standart lunch:

In [40]:
# From created dataset lets choice only women
females_and_lunch_data = [i for i in gender_and_lunch_data if i[1]=='female']
print('Number of females=',len(females_and_lunch_data))

Number of females= 518

In [48]:
number_females_sdlunch=0
for i in females_and_lunch_data:
  if i[0]=='standard':
    number_females_sdlunch+=1
print('Number of females with standart lunch=',number_females_sdlunch)

Number of females with standart lunch= 329

In [49]:
relative_frequency_females = number_females_sdlunch/len(females_and_lunch_data)
print('Rel.Freq of females with stand. lunch=',relative_frequency_females)

Rel.Freq of femalse with stand. lunch= 0.6351351351351351